name: netboot.xyz
version: 1.0.0
slug: netboot_xyz
description: netboot_xyz is a convenient place to boot into any type of operating system or utility disk without the need of having to go spend time retrieving the ISO just to run it
url: https://github.com/henryhst/hassio-addons/tree/master/netboot_xyz
arch:
  - aarch64
  - amd64
  - armv7
map:
  - config:rw
  - ssl
boot: manual
apparmor: true
advanced: true
backup: cold
docker_api: true
host_network: false
host_pid: false
panel_admin: true
hassio_api: true
hassio_role: manager
init: false
ingress: true
ingress_port: 3000
ingress_stream: true
journald: true
panel_icon: mdi:ip
panel_title: netboot.xyz
homeassistant_api: true
webui: http://[HOST]:[PORT:3000]
services:
  - mqtt:want
ports:
  3000/tcp: 3000
  69/udp: 69
  8080/tcp: 80
ports_description:
  3000/tcp: Web configuration interface
  69/udp: TFTP Port
  8080/tcp: NGINX server for hosting assets
